# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NextAuth / Session Secret
SESSION_SECRET="generate-a-secure-random-secret-at-least-32-chars"
